---
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import SocialPill from "../../icons/SocialPill.astro";
---

<!-- Social Links -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-amber-600 hover:bg-amber-500 w-auto group"
      href="https://youtube.com/@theheartforge"
      target="_blank"
    >
      YouTube
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-amber-600 hover:bg-amber-500 w-auto group"
      href="https://instagram.com/theheartforge"
      target="_blank"
    >
      Instagram
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-amber-600 hover:bg-amber-500 w-auto group"
      href="https://tiktok.com/@theheartforge"
      target="_blank"
    >
      TikTok
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-amber-600 hover:bg-amber-500 w-auto group"
      href="https://substack.com/@theheartforge"
      target="_blank"
    >
      Substack
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-amber-600 hover:bg-amber-500 w-auto group"
      href="https://x.com/theheartforge"
      target="_blank"
    >
      X / Twitter
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
  </div>
</aside>
